<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clicklab.sdk">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver
            android:name=".ReferrerCatcher"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".ConnectivityReciver"
            android:maxSdkVersion="21">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SyncJobService"
            android:label="Clicklab Sync Service"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
